<!-- Dusten Peterson | CSC 3620 | Vue.js -->
<!DOCTYPE html>
<html>
<head>
    <title>Monster Slayer</title>
    <script src="https://npmcdn.com/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="css/foundation.min.css">
    <link rel="stylesheet" href="css/app.css">
</head>
<body>
<div id="app">
    <section class="row">
        <div class="small-6 columns">
            <h1 class="text-center">YOU</h1>
            <div class="healthbar">
                <div class="healthbar text-center" style="background-color: green; margin: 0; color: white;" v-bind:style="{width: playerHp + '%'}">
                <p>
                    {{ playerHp }}
                </p>
                </div>
            </div>
        </div>
        <div class="small-6 columns">
            <h1 class="text-center">MONSTER</h1>
            <div class="healthbar">
                <div class="healthbar text-center" style="background-color: green; margin: 0; color: white;" v-bind:style="{width: monsterHp + '%'}">
                <p>
                    {{ monsterHp }}
                </p>
                </div>
            </div>
        </div>
    </section>
    <section v-if="newGame" class="row controls">
        <div class="small-12 columns">
            <button id="start-game" v-on:click="startOver">START NEW GAME</button>
        </div>
    </section>
    <section v-else class="row controls">
        <div class="small-12 columns">
            <button id="attack" v-on:click="attack" >ATTACK</button>
            <button id="special-attack" v-on:click="specialAttack">SPECIAL ATTACK</button>
            <button id="heal" v-on:click="heal">HEAL</button>
            <button id="give-up" v-on:click="giveUp">GIVE UP</button>
        </div>
    </section>
    <section v-if="gameLog.length > 0" class="row log">
        <div class="small-12 columns">
            <ul>
                <li v-for="(gameData, i) in gameLog" v-bind:class="{'player-turn': i % 2 != 0, 'monster-turn': i % 2 == 0}">
                    {{ gameData }}
                </li>
            </ul>
        </div>
    </section>
</div>
<script type="text/javascript" src="app.js"></script>
</body>
</html>